{% extends "base.html" %}

{% block page_title %}About{% endblock %}
{% block section %}about{% endblock %}

{% block contents %}

<article>
  {% filter markdown %}
  <h3>
    <a name="aboutme">About Me</a>
  </h3>

  These days I help teams tick.

  In the past I've been a:

  - Lead Backend Engineer at Effect Studios
  - CTO at Wineloya Digital
  - Outreach Lead @ [GDG Ghana][gdg-ghana]
  - Consultant Senior Applications Engineer @ MTN & Starbow Airlines(Adaptive Computer Solutions)
  - Software Engineer @ Vodafone on the demand and delivery team
  - Computer Engineer @ [University of Ghana][1]'s [Remote Sensing & Geographic Information Systems Labs][2]
  - Co-Founder/Lead Dev building [thelp]()
  - Backend guy at [NibbleIT](http://nibbleitconsult.com/)
  - Google Top Contributor (Product Expert)
  - Google Student Ambassador
  - Computer Engineering Major @ [GTUC](http://gtuc.edu.gh)


  [1]: http://ug.edu.gh/
  [2]: http://rsgislab.ug.edu.gh/
  [gdg-ghana]: https://developers.google.com/groups/chapter/117620641470438104052/
  [vodafone]: https://vodafone.com
  [MTN]: https://www.mtn.com/
  {% endfilter %}
</article>

{% filter markdown %}
##<a name="contact">Contact</a>

Start a conversation with me via [Email](mailto:jeffgodwyll+website@gmail.com?Subject=Hello Jeff!),
[Twitter](https://www.twitter.com/rey12rey), or
[LinkedIn](http://www.linkedin.com/in/jeffreygodwyll).

If you feel the need to contact me **securely**, you can verify my identity on
[Keybase.io](https://keybase.io/jeffgodwyll) and encrypt your communications
using [my public key](https://keybase.io/jeffgodwyll/key.asc).

Let me know what's on your mind!

{% endfilter %}

<h2><a name="profiles">Public Accounts of Mine on the Interwebs</a></h2>
<ul class="socialurls">
  {% for account in accounts.items() %}
  <li>
    <a href="{{ account[1].value }}">
      <img height=16 width=16 src="https://plus.google.com/_/favicon?domain={{ account[1].value }}" />
      {{ account[1].label }}
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock contents %}