{% extends "base.html" %}

{% block contents %}


<article>
{% filter markdown %}
Building in the clouds
{% endfilter %}
</article>


<section class="talks">
    <h2>Recent Posts</h2>
    {% with pages = posts %}
        {% include "_list.html" %}
    {% endwith %}
    <p class="more">&raquo; <a href="{{ url_for("section", section="posts") }}">More posts</a></p>
</section>

<section class="talks">
    <h2>Talks</h2>
    {% with pages = talks %}
        {% include "_list.html" %}
    {% endwith %}
    <p class="more">&raquo; <a href="{{ url_for("section", section="talks") }}">See more talks</a></p>
</section>
{% endblock contents %}
