{% extends "base.html" %}

{% block contents %}

{# TODO: get better wording for homepage

<article>
{% filter markdown %}
I'm a Computer Engineering Senior [at GTUC](http://gtuc.edu.gh), 
Co-Founder/Lead Dev at [thelp](), Backend guy(freelance) at 
[NibbleIT](http://nibbleitconsult.com/).

I love the cloud(both), arduinos, and my terminal. 
I [read](https://www.goodreads.com/user/show/32436986-jeffrey-godwyll) 
way more than I write.

My [coderbits profile](https://coderbits.com/jeffgodwyll) may say otherwise but
I love python more than any other language :).


    other = {'aliases': ['rey12rey', 'jeffgodwyll'], 
             'biases': ['Manchester United Football Club', 'Python', 'Android', 'Anything Googly']}

</article>
{% endfilter %}

#}

<section class="talks">
    <h2>Recent Posts</h2>
    {% with pages = posts %}
        {% include "_list.html" %}
    {% endwith %}
    <p class="more">&raquo; <a href="{{ url_for("section", section="posts") }}">More posts</a></p>
</section>

<section class="talks">
    <h2>Talks</h2>
    {% with pages = talks %}
        {% include "_list.html" %}
    {% endwith %}
    <p class="more">&raquo; <a href="{{ url_for("section", section="talks") }}">See more talks</a></p>
</section>
{% endblock contents %}
